.modal {
  background-color: var(--color-bg-card);
  border-radius: 12px;
  pointer-events: auto;
  z-index: 1000;
}

.overlay {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(142 142 142 / 60%);
  z-index: 999;
}