.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-main);

  /* здесь */
  padding-left: 35px;
  padding-right: 35px;
  max-inline-size: 1440px;
}

.leftSection {
  display: flex;
  align-items: center;

  /* здесь */
  gap: 20px;
}

.rightSection {
  display: flex;
  align-items: center;
}

.navLink {
  text-decoration: none;
  max-inline-size: fit-content;
}

.navLink .button {
  margin: 0;
}

.loginButton {
  /* Стили для кнопки Войти */
  border: 1px solid var(--color-accent);
  color: var(--color-text-primary);
  margin: 0;
}

.registerButton {
  /* Стили для кнопки Зарегистрироваться */
  background-color: var(--color-accent);
  color: var(--color-text-primary);
  border: none;
  margin-left: 8px;
  margin-right: 0;
}
