.header {
  display: flex;
  align-items: center;
  background-color: var(--color-bg-main);
  padding: 35px 35px 20px;
  max-inline-size: 1440px;
  gap: 30px;
}

.leftSection {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-shrink: 0;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 20px;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: 24px;
  flex: 1;
  justify-content: flex-end;
}
