.wrapper {
  display: grid;
  gap: 32px;
  align-content: start;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 24px;
  align-items: start;
  max-inline-size: 100%;
}

.empty {
  font-family: var(--font-family-base);
  font-size: var(--font-h3-size);
  font-weight: var(--font-body-weight);
  color: var(--color-text-primary);
  text-align: center;
  width: 100%;
  margin: 0;
}
