.logo {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  color: var(--color-text-primary);
  font-family: var(--font-family-heading);
  font-size: var(--font-h2-size);
  line-height: var(--font-h2-line-height);
  text-decoration: none;
  cursor: pointer;
  column-gap: 12px;
}

.logo,
.logo:hover,
.logo:focus,
.logo:active {
  text-decoration: none;
}
