.dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 24px;
  right: 0;
  top: calc(100% + 20px);
  padding: 40px;
  z-index: 100;
  white-space: nowrap;
  font-family: var(--font-family-base);
  font-weight: var(--font-weight-medium);
  font-size: var(--font-h4-size);
  line-height: var(--font-h4-line-height);
  color: var(--color-text-primary);
  background-color: var(--color-bg-card);
  border-color: var(--color-bg-toggle);
  border-radius: 12px;
}

.dropdownItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: var(--color-accent-hover);
}
