.container {
  background-color: var(--color-bg-main);
  min-inline-size: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progressBarWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: var(--font-h2-size);
  font-weight: var(--font-h2-weight);
  font-family: var(--font-h2-family);
  line-height: var(--font-h3-line-height);
  color: var(--color-text-primary);
  text-align: center;
  margin-bottom: 12px;
}

.line {
  position: relative;
  width: 60px;
  height: 4px;
  border-radius: 8px;
  background-color: var(--color-bg-disabled);
}

.line::before {
  content: '';
  display: block;
  position: absolute;
  left: 76px;
  width: 60px;
  height: 4px;
  border-radius: 8px;
  background-color: var(--color-bg-disabled);
}

.line::after {
  content: '';
  display: block;
  position: absolute;
  left: -76px;
  width: 60px;
  height: 4px;
  border-radius: 8px;
  background-color: var(--color-accent);
}

.content {
  max-inline-size: 1136px;
  display: flex;
  gap: 24px;
  padding: 32px 0 152px;
  margin: 0 auto;
}

.form {
  background-color: var(--color-bg-card);
  padding: 122px 60px;
  min-inline-size: 556px;
}

.formButtonsLogin {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.socialButton {
  max-inline-size: 436px;
  max-block-size: 48px;
  border: 1px solid var(--color-text-secondary);
  margin: 0;
  border-radius: 12px;
  background: transparent;
  padding-block: 12px;
  padding-inline: 24px;
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.socialText {
  font-size: var(--font-body-size);
  font-weight: var(--font-body-weight);
  font-family: var(--font-body-family);
  line-height: var(--font-body-line-height);
  color: var(--color-text-primary);
}

.formText {
  text-align: center;
  margin-top: 24px;
  margin-bottom: 24px;
}

.formInput {
  position: relative;
  max-inline-size: 436px;
  display: flex;
  flex-direction: column;

}

.inputField {
  max-inline-size: 436px;
}

.formInput .inputField + .inputField {
  margin-top: 16px;
}

.inputField input {
  padding: 8px 20px;
  letter-spacing: 0.2px;
}

.eyeButton {
  position: absolute;
  right: 20px;
  top: 78%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  color: var(--color-text-primary);
  z-index: 2;
}

.passwordText {
  font-size: var(--font-caption-size);
  font-weight: var(--font-caption-weight);
  font-family: var(--font-caption-family);
  line-height: var(--font-caption-line-height);
  color: var(--color-text-primary);
  letter-spacing: 0.2px;
  margin-top: 8px;
}

.loginButton {
  margin: 30px 0 0;
  background-color: var(--color-accent);
  cursor: pointer;
}

.onboarding {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-card);
  max-inline-size: 556px;
  flex-direction: column;
}

.onboarding h2 {
  font-size: var(--font-h2-size);
  font-weight: var(--font-h2-weight);
  font-family: var(--font-h2-family);
  line-height: var(--font-h3-line-height);
  color: var(--color-text-primary);
  text-align: center;
  padding-bottom: 12px;
  white-space: nowrap;
  margin-top: 42px;
  letter-spacing: 0.1px;
}

.onboarding p {
  font-size: var(--font-body-size);
  font-weight: var(--font-body-weight);
  font-family: var(--font-body-family);
  line-height: var(--font-body-line-height);
  color: var(--color-text-primary);
  text-align: center;
  padding: 2px 92px 0;
  letter-spacing: 0.3px;
}
