.container {
  padding-block-end: 32px;
  width: min-content;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  /* здесь */
  padding-bottom: 36px;
}

.title {
  font-family: var(--font-family-heading);
  font-size: var(--font-h2-size);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-primary);

  /* здесь */
  white-space: nowrap;
  padding-right: 5px;
}

.viewAllButton {
  background-color: var(--color-bg-card);
  border-radius: 12px;
  padding: 12px 24px;
}

.cardsGrid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 24px;
  align-content: start;
  max-inline-size: 100%;
}

.loading,
.error,
.empty {
  text-align: center;
  padding: 64px 32px;
  font-family: var(--font-family-base);
  font-size: var(--font-h4-size);
  border-radius: 12px;
  background-color: var(--color-bg-secondary);
  margin: 0 16px;
}

.error {
  color: var(--color-error);
  border: 1px solid var(--color-error-light);
  background-color: var(--color-error-bg);
}

.empty {
  color: var(--color-text-secondary);
}
