.allskillsButton {
  display: flex;
  align-items: center;
  background-color: transparent;
  white-space: nowrap;
  border: none;
  justify-content: center;
  color: var(--color-text-primary);
  font-family: var(--font-family-heading);
  font-size: var(--font-h4-size);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-body-line-height);
  text-decoration: none;
  cursor: pointer;
  column-gap: 12px;
}
